* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px !important;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important ; /* !important */
  outline: -webkit-focus-ring-color auto 5px !important; /* !important */
}
a {
  text-decoration: none !important;
}
.aboutus {
  background-color: #ffffff !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  width: 100% !important;
}

.aboutus .title {
  background-color: none !important;
  box-shadow: none !important;
}

.aboutus .container-wrapper {
  background-color: #ffffff !important;
  width: 100% !important;
}

.aboutus .container-aboutus {
  width: 100% !important;
  align-items: flex-start !important;
  top: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0px !important;
  position: relative !important;
}

.aboutus .team-intro-content {
  display: flex !important;
  flex-wrap: wrap !important;
  align-content: space-between !important;
  align-items: flex-start !important;
  justify-content: space-between !important;
  padding: 0px 0px 60px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  background-color: #33bbc5 !important;
  text-align: start !important;
}

.aboutus .frame {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 66px !important;
  padding: 120px 0px 0px 100px !important;
  position: relative !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  z-index: 1 !important;
}

.aboutus .large {
  position: relative !important;
  text-shadow: 12px 8px 8px #614bc340 !important;
  color: #ffffff !important;
  font-size: 100px !important;
  line-height: normal !important;
  flex-grow: 0 !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
  align-self: flex-start !important;
}

.aboutus .p {
  position: relative !important;
  align-self: stretch !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #000000 !important;
  font-size: 28px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  height: fit-content !important;
}

.aboutus .button-primary {
  display: inline-flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 20px 60px !important;
  position: relative !important;
  flex: 0 0 auto !important;
  background-color: #614bc3 !important;
  border-radius: 8px !important;
}

.aboutus .button-primary:hover {
  display: inline-flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 20px 60px !important;
  position: relative !important;
  flex: 0 0 auto !important;
  background-color: #ffffff !important;
  border-radius: 8px !important;
}

.aboutus .button-primary:hover .label{
  color: #33bbc5 !important;
}

.aboutus .label {
  position: relative !important;
  width: fit-content !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  font-size: 36px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .div {
  display: inline-flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 20px 20px 0px 0px !important;
  position: relative !important;
  flex: 0 0 auto !important;
  z-index: 0 !important;
}

.aboutus .pattern-dot {
  position: relative !important;
  width: 450.53px !important;
  height: 372.5px !important;
}

.aboutus .vector {
  position: relative !important;
  width: 365.53px !important;
  height: 372.5px !important;
  /* background-image: url(../img/image.png) !important; */
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.aboutus .something {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  overflow: hidden !important;
}

.aboutus .component-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  gap: 10px !important;
  padding: 4px 0px 0px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  background-color: #33bbc5 !important;
}

.aboutus .component {
  position: relative !important;
  width: 1043px !important;
  height: 88.82px !important;
}

.aboutus .ornament {
  position: absolute !important;
  width: 252px !important;
  height: 89px !important;
  top: 0 !important;
  left: 793px !important;
}

.aboutus .component:hover .ornament {
  padding-left: 28px !important;
}

.aboutus .h-large {
  position: absolute !important;
  width: 769px !important;
  height: 73px !important;
  top: -28px !important;
  left: 0 !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  font-size: 120px !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  white-space: nowrap !important;
}

.aboutus .div-wrapper {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-end !important;
  justify-content: flex-end !important;
  gap: 10px !important;
  padding: 0px 0px 4px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .component-2 {
  transform: rotate(-180deg) !important;
  position: relative !important;
  width: 1043px !important;
  height: 88.82px !important;
}

.aboutus .img {
  position: absolute !important;
  width: 252px !important;
  height: 89px !important;
  top: 0 !important;
  left: 793px !important;
  transform: rotate(180deg) !important;
}

.aboutus .component-2:hover .img {
  padding-right: 28px !important;
}

.aboutus .text-wrapper {
  position: absolute !important;
  width: 769px !important;
  height: 73px !important;
  top: -28px !important;
  left: 0 !important;
  color: #33bbc5 !important;
  font-size: 120px !important;
  line-height: normal !important;
  white-space: nowrap !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.aboutus .project-description {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 0px 0px 88px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  background-image: url(../../assets/img/unsplash-9d0ln17mdeu.png) !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.aboutus .large-2 {
  position: relative !important;
  align-self: stretch !important;
  margin-top: -1px !important;
  text-shadow: 0px 4px 4px #00000040 !important;
  color: #000000 !important;
  font-size: 54px !important;
  text-align: center !important;
  line-height: 120px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.aboutus .product-wrapper {
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 10px 10px !important;
  padding: 0px 100px !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  background-color: #33bbc599 !important;
  display: flex !important;
  align-items: center !important;
  position: relative !important;
}

.aboutus .product-descriptions {
  flex-wrap: wrap !important;
  justify-content: center !important;
  gap: 0px 0px !important;
  padding: 20px 60px !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  background-color: #c8ffe0cc !important;
  display: flex !important;
  position: relative !important;
}

.aboutus .product-description {
  display: flex !important;
  flex-direction: column !important;
  width: 280px !important;
  align-items: center !important;
  position: relative !important;
}

.aboutus .logo {
  position: relative !important;
  flex: 0 0 auto !important;
}

.aboutus .title {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  padding: 10px !important;
  position: relative !important;
  flex: 0 0 auto !important;
}

.aboutus .text-wrapper-2 {
  position: relative !important;
  width: fit-content !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  color: #000000 !important;
  font-size: 20px !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  white-space: nowrap !important;
}

.aboutus .description {
  flex-direction: column !important;
  padding: 5px 12px !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  position: relative !important;
}

.aboutus .text-wrapper-3 {
  position: relative !important;
  align-self: stretch !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #000000 !important;
  font-size: 17px !important;
  text-align: justify !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
  text-shadow: none !important;
}

.aboutus .go-to {
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  height: 27px !important;
}

.aboutus .go-to:hover a {
  color: #777 !important;
}

.aboutus .go-to-2 {
  position: absolute !important;
  width: 275px !important;
  height: 21px !important;
  top: 2px !important;
  left: 0 !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 600 !important;
  color: #000000 !important;
  font-size: 17px !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .separator {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px 20px !important;
  position: relative !important;
  flex: 0 0 auto !important;
}

.aboutus .separator-2 {
  position: relative !important;
  width: 2px !important;
  height: 320px !important;
}

.aboutus .go-to-wrapper {
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  height: 21px !important;
}

.aboutus .go-to-wrapper:hover a {
  color: #777 !important;
}

.aboutus .go-to-3 {
  position: absolute !important;
  width: 275px !important;
  height: 21px !important;
  top: -1px !important;
  left: 0 !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 600 !important;
  color: #000000 !important;
  font-size: 17px !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .separator-3 {
  position: relative !important;
  width: 2px !important;
  height: 320px !important;
}

.aboutus .strength-content {
  display: flex !important;
  align-items: flex-start !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .group {
  position: relative !important;
  align-self: stretch !important;
  width: 140px !important;
}

.aboutus .overlap-group {
  position: relative !important;
  width: 140px !important;
  height: 1417px !important;
}

.aboutus .group-2 {
  position: absolute !important;
  width: 140px !important;
  height: 1177px !important;
  top: 0 !important;
  left: 0 !important;
}

.aboutus .ornament-2 {
  position: absolute !important;
  width: 140px !important;
  height: 392px !important;
  top: 0 !important;
  left: 0 !important;
}

.aboutus .ornament-3 {
  position: absolute !important;
  width: 140px !important;
  height: 392px !important;
  top: 392px !important;
  left: 0 !important;
}

.aboutus .ornament-4 {
  position: absolute !important;
  width: 140px !important;
  height: 392px !important;
  top: 785px !important;
  left: 0 !important;
}

.aboutus .ornament-5 {
  position: absolute !important;
  width: 140px !important;
  height: 392px !important;
  top: 1025px !important;
  left: 0 !important;
}

.aboutus .container-2 {
  align-items: flex-start !important;
  gap: 40px !important;
  padding: 48px 0px 0px !important;
  flex: 1 !important;
  align-self: stretch !important;
  flex-grow: 1 !important;
  background-color: #33bbc5 !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
}

.aboutus .large-3 {
  position: relative !important;
  align-self: stretch !important;
  margin-top: -1px !important;
  text-shadow: 0px 4px 4px #00000040 !important;
  color: #ffffff !important;
  font-size: 100px !important;
  text-align: center !important;
  line-height: normal !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.aboutus .container-3 {
  align-items: center !important;
  justify-content: center !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  display: flex !important;
  flex-direction: column !important;
  position: relative !important;
}

.aboutus .div-2 {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  flex-direction: row !important;
  overflow: initial !important;
}

.aboutus .description-2 {
  padding: 10px !important;
  flex: 1 !important;
  flex-grow: 1 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 10px !important;
  position: relative !important;
}

.aboutus .text-wrapper-4 {
  position: relative !important;
  flex: 1 !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  font-size: 22px !important;
  text-align: justify !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .thumbnail {
  justify-content: flex-end !important;
  display: inline-flex !important;
  align-items: center !important;
  gap: 10px !important;
  position: relative !important;
  flex: 0 0 auto !important;
}

.aboutus .unsplash {
  position: relative !important;
  width: 236px !important;
  height: 241px !important;
}

.aboutus .div-3 {
  display: inline-flex !important;
  align-items: center !important;
  gap: 10px !important;
  position: relative !important;
  flex: 0 0 auto !important;
}

.aboutus .unsplash-2 {
  position: relative !important;
  width: 239px !important;
  height: 241.22px !important;
}

.aboutus .text-wrapper-5 {
  align-self: stretch !important;
  position: relative !important;
  flex: 1 !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #ffffff !important;
  font-size: 22px !important;
  text-align: justify !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .img-2 {
  position: relative !important;
  width: 240px !important;
  height: 242.23px !important;
}

.aboutus .partner-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 0px 0px 200px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
  background-image: url(../../assets/img/background.png) !important;
  background-size: cover !important;
  background-position: 50% 50% !important;
}

.aboutus .large-4 {
  position: relative !important;
  align-self: stretch !important;
  height: 96px !important;
  margin-top: -1px !important;
  text-shadow: 0px 4px 4px #00000040 !important;
  color: #614bc3 !important;
  font-size: 72px !important;
  text-align: center !important;
  line-height: 200px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.aboutus .partners {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 30px 30px !important;
  padding-top: 100px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .element-partner {
  display: flex !important;
  flex-direction: column !important;
  width: 240px !important;
  align-items: center !important;
  gap: 15px !important;
  padding: 20px 10px !important;
  position: relative !important;
  background-color: #d9d9d9 !important;
  border-radius: 8px !important;
}

.aboutus .logo-wrapper {
  display: flex !important;
  width: 100px !important;
  height: 100.93px !important;
  align-items: center !important;
  gap: 10px !important;
  position: relative !important;
}

.aboutus .logo-2 {
  position: relative !important;
  flex: 1 !important;
  align-self: stretch !important;
  flex-grow: 1 !important;
  object-fit: cover !important;
}

.aboutus .details {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 5px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .partner-name-wrapper {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 5px 0px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .partner-name {
  position: relative !important;
  flex: 1 !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 700 !important;
  color: #000000 !important;
  font-size: 20px !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .brief-description-wrapper {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 0px 5px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .brief-description {
  position: relative !important;
  flex: 1 !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #000000 !important;
  font-size: 12px !important;
  text-align: justify !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}

.aboutus .contact-info-wrapper {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  padding: 10px 0px !important;
  position: relative !important;
  align-self: stretch !important;
  width: 100% !important;
  flex: 0 0 auto !important;
}

.aboutus .contact-info {
  position: relative !important;
  flex: 1 !important;
  margin-top: -1px !important;
  font-family: "Inter", Helvetica !important;
  font-weight: 400 !important;
  color: #000000 !important;
  font-size: 15px !important;
  text-align: center !important;
  letter-spacing: 0 !important;
  line-height: normal !important;
}