.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
  
}
.ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab-active{
  border-bottom-color: #33bbc5;
}
.ant-tabs .ant-tabs-tab{
  color: black;
}
.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab-active{
  background: #33bbc5;
}

