.review-container{
    display: flex;
    text-align: left;
    height: fit-content;
    

}
.container{
    height: 0px;
    /* flex */
}
.ant-btn-primary{
    background-color: #33BBC5;
}
.ant-form-item{
    margin-bottom: 0%;
}

:where(.css-dev-only-do-not-override-1wosoj8).ant-input-disabled, :where(.css-dev-only-do-not-override-1wosoj8).ant-input[disabled]{
    color: rgba(0, 0, 0, 1)
}
